## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
application_df = application_df.drop(columns=['EIN', 'NAME'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
#  YOUR CODE GOES HERE
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
cutoff = 730
application_types_to_replace = application_df['APPLICATION_TYPE'].value_counts()[application_df['APPLICATION_TYPE'].value_counts() < cutoff].index.tolist()
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
Other     1529
T6        1216
T5        1173
T19       1065
T8         737
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
#  YOUR CODE GOES HERE
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts() > 1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
cutoff = 200
classifications_to_replace = application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts() < cutoff].index.tolist()
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1197
C7000      777
C1700      287
Name: count, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
application_df = pd.get_dummies(application_df)

correlation = application_df.corr()
correlation['IS_SUCCESSFUL'].sort_values(ascending=False)

IS_SUCCESSFUL                   1.000000
AFFILIATION_Independent         0.368322
ORGANIZATION_Trust              0.162164
CLASSIFICATION_C7000            0.110084
APPLICATION_TYPE_T5             0.088575
APPLICATION_TYPE_T6             0.079817
APPLICATION_TYPE_Other          0.078133
INCOME_AMT_1-9999               0.067058
CLASSIFICATION_C1000            0.062589
CLASSIFICATION_Other            0.054672
ORGANIZATION_Co-operative       0.053520
INCOME_AMT_10000-24999          0.036937
INCOME_AMT_100000-499999        0.030542
INCOME_AMT_25000-99999          0.026239
USE_CASE_Preservation           0.024145
ORGANIZATION_Corporation        0.016690
CLASSIFICATION_C1700            0.012958
AFFILIATION_Other               0.010121
USE_CASE_Other                  0.008765
SPECIAL_CONSIDERATIONS_Y        0.005469
AFFILIATION_National            0.004581
AFFILIATION_Regional            0.003238
AFFILIATION_Family/Parent       0.002608
CLASSIFICATION_C2000           -0.000434
APPLICATION_TYPE_T3            -0.000953
STATUS                         -0.001636
SPECIAL_CONSIDERATIONS_N       -0.005469
INCOME_AMT_5M-10M              -0.009171
ASK_AMT                        -0.010861
USE_CASE_ProductDev            -0.011841
USE_CASE_Heathcare             -0.013222
INCOME_AMT_10M-50M             -0.021575
INCOME_AMT_1M-5M               -0.022535
CLASSIFICATION_C3000           -0.023182
INCOME_AMT_50M+                -0.024838
APPLICATION_TYPE_T8            -0.032796
USE_CASE_CommunityServ         -0.039122
INCOME_AMT_0                   -0.052509
CLASSIFICATION_C1200           -0.056621
APPLICATION_TYPE_T4            -0.098692
APPLICATION_TYPE_T19           -0.123303
CLASSIFICATION_C2100           -0.147895
ORGANIZATION_Association       -0.179561
AFFILIATION_CompanySponsored   -0.369379
Name: IS_SUCCESSFUL, dtype: float64

In [10]:
columns_to_drop = ['AFFILIATION_Family/Parent',
                   'CLASSIFICATION_C2000', 'APPLICATION_TYPE_T3', 'STATUS',
                   'SPECIAL_CONSIDERATIONS_N', 'INCOME_AMT_5M-10M']

application_df = application_df.drop(columns=columns_to_drop)

In [11]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
X = application_df.drop('IS_SUCCESSFUL', axis=1)
y = application_df['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
input_features = X_train_scaled.shape[1]
nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=100, activation='tanh', input_dim=input_features))

# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=30, activation='tanh'))

# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

/usr/local/lib/python3.10/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━┓
┃ Layer (type)                         ┃ Output Shape                ┃         Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━┩
│ dense (Dense)                        │ (None, 100)                 │           3,800 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_1 (Dense)                      │ (None, 30)                  │           3,030 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_2 (Dense)                      │ (None, 1)                   │              31 │
└──────────────────────────────────────┴─────────────────────────────┴─────────────────┘

 Total params: 6,861 (26.80 KB)

 Trainable params: 6,861 (26.80 KB)

 Non-trainable params: 0 (0.00 B)

In [14]:
# Define the optimizer with a custom learning rate
from tensorflow.keras.optimizers import Adam
opt = Adam(learning_rate=0.0006)

# Compile the model with the new optimizer
nn.compile(optimizer=opt, loss='binary_crossentropy', metrics=['accuracy'])

In [22]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn.fit(X_train_scaled, y_train, epochs=110, batch_size=16)

Epoch 1/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7456 - loss: 0.5226
Epoch 2/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7445 - loss: 0.5232
Epoch 3/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7448 - loss: 0.5267
Epoch 4/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 3s 1ms/step - accuracy: 0.7479 - loss: 0.5236
Epoch 5/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7388 - loss: 0.5295
Epoch 6/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 3s 1ms/step - accuracy: 0.7439 - loss: 0.5246
Epoch 7/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 3s 1ms/step - accuracy: 0.7443 - loss: 0.5270
Epoch 8/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7432 - loss: 0.5246
Epoch 9/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7395 - loss: 0.5310
Epoch 10/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7435 - loss: 0.5272
Epoch 11/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7423 - loss: 0.5275
Epoch 12/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 3s 1ms/step - accuracy: 0.7372 - loss: 0.5309
Epoch 13/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7439 - loss: 0.5276
Epoch 14/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7433 - loss: 0.5274
Epoch 15/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7464 - loss: 0.5241
Epoch 16/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7416 - loss: 0.5269
Epoch 17/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 978us/step - accuracy: 0.7409 - loss: 0.5305
Epoch 18/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7421 - loss: 0.5294
Epoch 19/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7392 - loss: 0.5310
Epoch 20/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 991us/step - accuracy: 0.7435 - loss: 0.5244
Epoch 21/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7460 - loss: 0.5235
Epoch 22/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 3s 1ms/step - accuracy: 0.7427 - loss: 0.5282
Epoch 23/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 3s 1ms/step - accuracy: 0.7440 - loss: 0.5242
Epoch 24/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7474 - loss: 0.5199
Epoch 25/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7487 - loss: 0.5199
Epoch 26/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7426 - loss: 0.5258
Epoch 27/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7432 - loss: 0.5329
Epoch 28/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7415 - loss: 0.5294
Epoch 29/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 3s 1ms/step - accuracy: 0.7440 - loss: 0.5255
Epoch 30/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7453 - loss: 0.5257
Epoch 31/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 3s 1ms/step - accuracy: 0.7437 - loss: 0.5234
Epoch 32/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7454 - loss: 0.5262
Epoch 33/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7423 - loss: 0.5267
Epoch 34/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 3s 1ms/step - accuracy: 0.7436 - loss: 0.5248
Epoch 35/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7435 - loss: 0.5259
Epoch 36/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7455 - loss: 0.5262
Epoch 37/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7476 - loss: 0.5212
Epoch 38/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7421 - loss: 0.5267
Epoch 39/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 943us/step - accuracy: 0.7442 - loss: 0.5258
Epoch 40/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7437 - loss: 0.5248
Epoch 41/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7431 - loss: 0.5258
Epoch 42/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7456 - loss: 0.5237
Epoch 43/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7456 - loss: 0.5248
Epoch 44/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7439 - loss: 0.5273
Epoch 45/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 3s 1ms/step - accuracy: 0.7429 - loss: 0.5264
Epoch 46/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7338 - loss: 0.5364
Epoch 47/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7444 - loss: 0.5240
Epoch 48/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7435 - loss: 0.5300
Epoch 49/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7441 - loss: 0.5249
Epoch 50/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7467 - loss: 0.5251
Epoch 51/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - accuracy: 0.7388 - loss: 0.5295
Epoch 52/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7404 - loss: 0.5282
Epoch 53/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7469 - loss: 0.5240
Epoch 54/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7450 - loss: 0.5223
Epoch 55/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7416 - loss: 0.5309
Epoch 56/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7466 - loss: 0.5233
Epoch 57/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 4s 1ms/step - accuracy: 0.7476 - loss: 0.5258
Epoch 58/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7430 - loss: 0.5274
Epoch 59/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7450 - loss: 0.5240
Epoch 60/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 3s 1ms/step - accuracy: 0.7521 - loss: 0.5198
Epoch 61/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 3s 1ms/step - accuracy: 0.7455 - loss: 0.5265
Epoch 62/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7389 - loss: 0.5280
Epoch 63/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7460 - loss: 0.5244
Epoch 64/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7426 - loss: 0.5266
Epoch 65/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 3s 1ms/step - accuracy: 0.7429 - loss: 0.5260
Epoch 66/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7445 - loss: 0.5251
Epoch 67/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7397 - loss: 0.5267
Epoch 68/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7360 - loss: 0.5339
Epoch 69/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7446 - loss: 0.5235
Epoch 70/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7456 - loss: 0.5212
Epoch 71/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 3s 1ms/step - accuracy: 0.7410 - loss: 0.5285
Epoch 72/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7436 - loss: 0.5271
Epoch 73/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7464 - loss: 0.5202
Epoch 74/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7468 - loss: 0.5214
Epoch 75/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7456 - loss: 0.5264
Epoch 76/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7408 - loss: 0.5293
Epoch 77/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - accuracy: 0.7384 - loss: 0.5320
Epoch 78/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7409 - loss: 0.5303
Epoch 79/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7418 - loss: 0.5297
Epoch 80/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7427 - loss: 0.5293
Epoch 81/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 3s 1ms/step - accuracy: 0.7401 - loss: 0.5284
Epoch 82/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7437 - loss: 0.5269
Epoch 83/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7451 - loss: 0.5243
Epoch 84/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7417 - loss: 0.5293
Epoch 85/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7439 - loss: 0.5240
Epoch 86/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 3s 1ms/step - accuracy: 0.7486 - loss: 0.5197
Epoch 87/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 3s 1ms/step - accuracy: 0.7410 - loss: 0.5294
Epoch 88/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7465 - loss: 0.5228
Epoch 89/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7473 - loss: 0.5233
Epoch 90/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 3s 1ms/step - accuracy: 0.7515 - loss: 0.5175
Epoch 91/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7466 - loss: 0.5238
Epoch 92/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7422 - loss: 0.5272
Epoch 93/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7448 - loss: 0.5248
Epoch 94/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7445 - loss: 0.5251
Epoch 95/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7433 - loss: 0.5254
Epoch 96/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 3s 1ms/step - accuracy: 0.7458 - loss: 0.5244
Epoch 97/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7461 - loss: 0.5233
Epoch 98/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - accuracy: 0.7427 - loss: 0.5236
Epoch 99/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7403 - loss: 0.5286
Epoch 100/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7454 - loss: 0.5254
Epoch 101/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7436 - loss: 0.5271
Epoch 102/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7482 - loss: 0.5206
Epoch 103/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 3s 1ms/step - accuracy: 0.7415 - loss: 0.5270
Epoch 104/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7502 - loss: 0.5200
Epoch 105/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7403 - loss: 0.5316
Epoch 106/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7437 - loss: 0.5280
Epoch 107/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7411 - loss: 0.5281
Epoch 108/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - accuracy: 0.7415 - loss: 0.5279
Epoch 109/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7479 - loss: 0.5248
Epoch 110/110
1501/1501 ━━━━━━━━━━━━━━━━━━━━ 4s 1ms/step - accuracy: 0.7412 - loss: 0.5268

In [21]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

322/322 - 0s - 1ms/step - accuracy: 0.7246 - loss: 0.5629
Loss: 0.5628945231437683, Accuracy: 0.7245869636535645

In [23]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn.save("charity_model.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [ ]:
# Because I got a warning HDF5 is considered legacy, this is an optional export.
# nn.save("charity_model.keras")